#cartContent
{
	margin-top: 1%;
	width: auto;
	margin-left: 10%;
	margin-right: 10%;
	background-color:white;
	height: 500px;
	scroll-behavior: smooth; 
}



.shopping-cart{
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

#cartContent img{
  border-radius:5px;
  padding:2px;
  float:left;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  border:solid;
  border-width:1px;
  padding: 25px 30px 50px 30px;/*top right bottom left */
  height: 120px;
  display: flex;
}

.description{
  padding-left:50px;
  width:250px;
  max-width: 250px;
  height:250px;
  max-height:250px;
  display:inline-block;
}

.itemImg{
  padding-left:50px;
  width:250px;
  max-width: 250px;
  height:250px;
  max-height:250px;
  display:inline-block;
}
.quantity{
  padding-left:50px;
  width:250px;
  height:250px;
  max-height:250px;
  max-width: 250px;
  display:inline-block;
}
